
@font-face {
	font-family: 'custom_13249';
	font-style:  normal;
	font-weight: 300;
	src: url("../fonts/5c4a1f6be513e8638a282968_n3.woff") format('woff')
}

@font-face {
	font-family: 'custom_13249';
	font-style:  normal;
	font-weight: 400;
	src: url("../fonts/5c4a1f6be513e8638a282968_n4.woff") format('woff')
}

@font-face {
	font-family: 'custom_13249';
	font-style:  normal;
	font-weight: 500;
	src: url("../fonts/5c4a1f6be513e8638a282968_n5.woff") format('woff')
}

@font-face {
	font-family: 'custom_13249';
	font-style:  normal;
	font-weight: 700;
	src: url("../fonts/5c4a1f6be513e8638a282968_n7.woff") format('woff')
}

@font-face {
	font-family: 'custom_13249';
	font-style:  normal;
	font-weight: 900;
	src: url("../fonts/5c4a1f6be513e8638a282968_n9.woff") format('woff')
}
